* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #000;

	/* dev */
	/*background-image: url("../test/barbershop-index-preview.jpg");*/
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	/* dev */
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

main.container {
	/* dev */
	outline: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* header */
.main-header {
	margin-bottom: 60px;

	/* dev */
	outline: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
}

.main-navigation {
	float: left;
	width: 780px;

	/* dev */
	min-height: 70px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.main-navigation li {
	display: inline-block;
}

.user-block {
	float: right;
	width: 140px;

	/* dev */
	min-height: 70px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

/* main */
.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;

	/* dev */
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.features {
	margin-bottom: 80px;

	/* dev */
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;

	/* dev */
	min-height: 175px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.features-item:last-child {
	margin-right: 0;
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;

	/* dev */
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.index-content-left {
	float: left;
	width: 380px;

	/* dev */
	min-height: 330px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.index-content-right {
	float: right;
	width: 300px;

	/* dev */
	min-height: 330px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

/* footer */
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

	/* dev */
	outline: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;

	/* dev */
	min-height: 90px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.footer-social {
	float: left;
	width: 180px;

	/* dev */
	min-height: 90px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.footer-copyright {
	float: right;
	width: 180px;

	/* dev */
	min-height: 90px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

/* fonts */
.index-content-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 42px;
	color: #000;
}

.suite-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #000;
}